.body {
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#turn {
    background-color: white;
    border-radius: 10px;
    float: right;
    width: 30%;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid lightskyblue;
    padding: 10px;
    float: none;
    text-align: center;
}

#score {
    background-color: white;
    border-radius: 10px;
    float: left;
    width: 30%;
}

#login-div {
    float: right;
    width: 50%;
    height: 100%;
    background-color: white;
}

#login-div h1 {
    color: dodgerblue;
}

#login-div h3 {
    color: lightskyblue
}

.form-control {
    color: rgb(101, 215, 204);
    font-weight: 400;
}
